body {
  background-color: #2b2b2b;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  margin: 0;
}
p {
  color: white;
}
